@model IEnumerable<e_Vstopnice.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Kupljene vstopnice</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StVstopnic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StVstopnic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Podrobnosti</a>
            </td>
        </tr>
}
    </tbody>
</table>
