@model e_Vstopnice.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Podrobnosti dogodka</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam dogodkov</a>
</div>
